extends _includes/layout.pug

block scripts 
    - var title = 'Home'
block content 
    h1 RETURN MECHANICAL KEYBOARD 
    p This website serves to document the development of the '\n' mechanical keyboard. 
    
