extends _includes/layout.pug

block scripts 
    - var title = 'PCB'
block content 
    h1 Building the PCB 
    p The PCB is the substrate on which the switches are connected. It hosts the microcontroller, the LEDs and any other features you with to add. It also provides a mechanical connection between the switches, and can make a board more stiff. You will have control over every aspect of this circuit borad, and you can tailor it to your liking. 
    