extends _includes/layout.pug

block scripts 
    - var title = 'PCB'
block content 
    h1 Building the PCB 
    p The PCB is the substrate on which the switches are connected. It hosts the microcontroller, the LEDs and any other features you with to add. It also provides a mechanical connection between the switches, and can make a board more stiff. You will have control over every aspect of this circuit borad, and you can tailor it to your liking and needs.
    h1 Getting Started: 
    p Download 
        a(href="https://kicad.org") kicad 
    p Kicad is a software that we will use to design the schematic, route the PCB, and place all of the components that we need to use. 
    p Once you have Kicad downloaded, open it and create a new project. Save it to a folder that you have easy access to. 
    p In a new web browser tab, open 
        a(href="https://github.com" target="_blank") GitHub 
    p Sign in / Create an account. Click the green button that says Create a new repository.
    p Name your repository. I'm going to use `Keyboard-return`. Give the repository a description. For my project, I'm going to use `A mechanical keyboard with detachable numpad, OLED displays, rotary encoders, and QMK firmware. ` but yours should be different. It should be a description of the features of your keyboard as well as any special processes you used to design it. 
    p Select 'Add a Readme file'. This will serve as the front page of your repository.
    p For the gitignore template, select Kicad. This will help prevent sensitive information from making its way onto the public internet. 
    p Pick a license. Use 
        a(href="https://choosealicense.com/") choosealisence.com
        | . I will use the CERN Open Hardware Licence Version 2 because it doesn't let people make closed source or proprietary versions. 
    p Click create repository. 
    p Now we need to install the GitHub Command Line Interface (cli): 
        a(href="https://cli.github.com/" target="_blank") GitHub CLI 
    p On MacOS, if you have brew installed, use 
        span.code brew install gh
    p Now run 
        span.code gh auth login
        |  So your github account gets credited for any contributions you make to your repository. 
    p Navigate to the folder that your Kicad project is saved in: 
        span.code cd Path/To/Your/Folder
    p Now, run 
        span.code git init 
        |  To initialize the folder as a git repository
    p Connect Your Local Folder to the GitHub Repository: 
        span.code git remote add origin https://github.com/your-username/your-repo-name.git
    p Now, every time you make a significant change you want to be added to the verisoning system, just run: 
    p.code git add .
    br
    p.code git commit -m "Initial commit"
    p And then, push your changes to the remote repository: 
    p.code git push -u origin master
    h3 Creating the Schematic 
    p Open KiCad. Create a new project in your git folder. Name it with the name of your project. 
    img(src="../_includes/kicadProjectView.png", alt="Kicad project view, showing ")
    p Open the schematic file for the project, by clicking on the Schematic Editor.
    p Welcome to the schematic editor, where we will build all of the circuits and connections for the PCB. 
    p here is a list of keyboard shortcuts that work in this software: 
    h4 Choosing a microcontroller: 
    p The first step of this project will be chosing a microcontroller that can accomodate all of the features your project needs.
    p The first and most obvious consideration is connectivity - Do you want your keyboard to have bluetooth connectivity? If so, should it also have USB connectivity? 
    p It is preferable to find a board with all of those features built in, so you don't have to do crazy workarounds to make those things work. 
    p Look at Adafruit's    
        a(href="https://learn.adafruit.com/how-to-choose-a-microcontroller/overrview") Guide on chosing a microcontroller.
    p Another consideration should be compatibility with firmwares. Visit 
        a(href="https://docs.qmk.fm") QMK Docs 
        | for compatibility details.

    p For my keyboard, I want bluetooth support, lots of pins, and ideally QMK support. 
    p One of my favorite new microcontrollers, the ESP32-S3, has most of these features, with the notable exception being QMK Support. I am comfortable enough with firmware, but that should be a large deterrent to someone less advanced. 
    p I'm going to use it anyways, because of the ease of hardware development.
    p I'm going to start with a stepping stone: 
        a(href="https://www.adafruit.com/product/5323") The Adafruit Feather ESP32 S3.
    p This board's design files are already 
        a(href="https://github.com/adafruit/Adafruit-Feather-ESP32-S3-PCB?tab=readme-ov-file") open source under the CC BY-SA 3.0
        | , so we can use and modify them in our project. All we have to do is credit the authors, Adafruit, in our own open-source project. We can even use the derivative commerically. 
    p All we have to do for this head start is find the repository hosting the board designs 
        a(href="https://github.com/adafruit/Adafruit-Feather-ESP32-S3-PCB?tab=readme-ov-file") here. 
    p Download the schematic file (The file with extension .sch.)
    p Import it into Kicad with File>Import>Non-Kicad Schematic
    p This process is exactly the same with other microcontrollers. You can start from scratch, or build upon an already existing board.
    p Now, look at the different components of the schematic. It's split into various sections. 
    p There are separate elements for the usb connector, the pins, and the microcontroller itself.
    h4 Importing Libraries
    p Before we add all of the circuitry for our keyboard, we must add some libraries filled with all of the different components we're going to use. 
    p I like to use 
        a(href="https://github.com/ai03-2725/MX_V2") AI03's brilliant MXV2 libraries
        | . To use these, there are no special symbols that need to be imported. This library uses default built-in symbols, which is incredibly convenient.
    p Open the 
        a(href="https://github.com/ai03-2725/MX_V2") link to the github 
        | and click code>Download .zip
    p Continue this later 
    p Now, we have to decide on a layout. 
        a(href="") Here 
        | Is a great guide on drop.com for different layouts.
    p Use 
        a(href="https://www.keyboard-layout-editor.com/#/") Keyboard-Layout-Editor to make it real. Save that design for later. 
    p Once you have your design, divide the keys into rows and columns to connect to the microcontroller. Our keyboard will use a key matrix, in which current is passed through each of the rows, and current is read at each of the columns. The microcontroller puts voltage into one of the rows and reads all of the columns, and if one of the columns is active, the key at that index was pressed. This is repeeated for every row, hundreds or thousands of times per second. 
    p Note the number of rows and columns, and come back to the schematic. 
    p Add a symbol for SW_Push by pressing the A key and searching for it.
    p SW Push will correspond to the footprint for the key switch in the library we just downloaded. 
    p Add another symbol, D_Small, and connect it to the right pin (Pin 2) of the switch.
    p Using the Rectangle tool, draw a square around this assembly.

