doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/_includes/main.css")
    title #{title} - Halkowich.com
    block scripts
    script(src="../_scripts/glossary.js", defer) 
    //- script(defer). 
    //-   applyGlossaryTooltips();
    //-   console.log('Script is loaded');
  body
    div.header
      .island
        a.header-item.title(href="../") Halkowich.com
        - 
          var pages = {
            pcb: "PCB",
            case: "Case",
            software: "Software",
            about: "About",
            glossary: "Key"
          }
        each value, key in pages
          a.header-item(href='/' + key) #{value}
    .content-center 
      .content-container
        block content
    .footer 
      .footer-item
        - const currentYear = new Date().getFullYear();
        p &copy; Jasper Halkowich 2024-#{currentYear}
      .footer-item
        a(href="mailto:jasper@halkowich.com") Jasper@Halkowich.com
