extends layout.pug
block scripts 
    - var title = 'Home'

block content 
    table.glossary-list 
        tr
            th Keywords:
            th Definitions:

        each value, key in glossary
            tr.glossary-item
                td.glossary-key #{key}
                td.glossary-value #{value}

