extends layout.pug
block scripts 
    - var title = 'Home'
block content 
    h1 Mechanical Keyboard Design Guide 
    h3 Welcome to the keyboard design guide at Halkowich.com (or access the latest build at 
        a(href="https://keyboard-web.pages.dev") Cloudflare Pages
        span )
    p This guide is intended as a supplement to 
        a(href="https://wiki.ai03.com") ai03's guide 
        span and 
        a(href="https://github.com/ruiqimao/keyboard-pcb-guide") Ruiqi Mao's guide 
        span as well as an aggregator of various sources about keyboard development. It will focus mostly on the engineering side of the hobby, but the feel of the keyboard will, of course, also be taken into consideration.
    p This guide will follow the development of my latest keyboard project, the 
        b Return to Sender
        span .
    p This keyboard will have many features with extensive documentation including the following: 
        ul 
            li: p A detachable numpad with a battery, whcih can function as a calculator on its own.
            li: p RGB backlighting under every key for north-facing switches
            li: p A 3d printed enclosure (One of the goals with this keyboard is to make a CNC machined aluminum case)
            li: p At least 1 OLED display, for the calcpad.
            li: p A USB-C interface to connect to the computer 
            li: p A magnetic pogopin interface to connect to the calcpad.
            li: p Customizable firmware via 
                a(href="https://qmk.fm") QMK 
                span or some widely used alternative such as 
                a(href="https://www.caniusevia.com/") VIA
                span .
    p This website is fully 
        a(href="https://github.com/DisguisedAxolotl/Keyboard-web") open-source
        span .

    p Hello world
